<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>InfSoft | Authentication </title>
</head>

<body>
  <div id="component-authentication" style="padding: 24px"></div>
  <script src="/dist/authentication.js"></script>
</body>

</html>